@import "tailwindcss";

@theme {
  /* Fontes */
  --font-body: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "Chakra Petch", ui-sans-serif, system-ui, sans-serif;

  /* Font Sizes - Body */
  --font-size-body-xxl: 1.938rem;
  --font-size-body-xl: 1.562rem;
  --font-size-body-lg: 1.25rem;
  --font-size-body-md: 1rem;
  --font-size-body-sm: 0.812rem;
  --font-size-body-xs: 0.625rem;

  /* Font Sizes - Heading */
  --font-size-heading-xxl: 4.75rem;
  --font-size-heading-xl: 3.812rem;
  --font-size-heading-lg: 3.062rem;
  --font-size-heading-md: 2.438rem;
  --font-size-heading-sm: 1.938rem;
  --font-size-heading-xs: 1.562rem;

  /* Colors - Neutral */
  --color-neutral-background: #fbfbfb;
  --color-neutral-text: #444444;
  --color-neutral-divisor: #f2f2f2;
  --color-neutral-white: #ffffff;
  --color-neutral-black: #000000;

  /* Colors - Primary */
  --color-primary-dark: #e28634;
  --color-primary-pure: #f29849;
  --color-primary-light: #ffdab8;

  /* Colors - Secondary */
  --color-secondary-dark: #23384d;
  --color-secondary-pure: #1d2f40;
  --color-secondary-light: #2e4b66;

  /* Colors - Feedback */
  --color-feedback-attention: #ffd400;
  --color-feedback-negative: #ff3f48;
  --color-feedback-positive: #6edc3b;

  /* Box Shadows */
  --shadow-elevation-1: 0 0 10px rgba(132, 132, 132, 0.1);
  --shadow-elevation-2: 0 0 20px rgba(132, 132, 132, 0.2);
  --shadow-elevation-3: 0 0 30px rgba(132, 132, 132, 0.25);
}
